body{
    background:#f5f7fa;
    font-family:'Poppins',sans-serif;
    color:#2c3e50;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:42px;
    font-weight:700;
    color:#0F4C81;
    margin-bottom:20px;
}

.hero p{
    max-width:800px;
    margin:auto;
    font-size:18px;
    line-height:1.8;
    color:#555;
}

.hero input{
    width:600px;
    max-width:90%;
    margin-top:35px;
    padding:15px 20px;
    border:1px solid #ddd;
    border-radius:12px;
    outline:none;
    font-size:16px;
}

.top-textes,
.about{
    width:85%;
    margin:70px auto;
    background:white;
    border-radius:15px;
    padding:35px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.top-textes h2,
.about h2{
    color:#0F4C81;
    margin-bottom:25px;
}

.top-textes ul{
    list-style:none;
    padding:0;
}

.top-textes li{
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.nav-link{
    margin: 0 18px;
    font-size: 17px;
    transition: .3s;
}

.nav-link:hover{
    color:#0F4C81 !important;
}

header{
    border-bottom: 3px solid #0F4C81;
}

.custom-header{
    border-bottom: 2px solid #0F4C81;
}